* {
    box-sizing: border-box;
}
body {
    display: block;
    background-color: rgb(4, 22, 70);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.plusBtn {
    width: 100px;
    height: 40px;
    color:#fff;
    background-color: rgb(0, 14, 54);
    margin-right: 1rem;
}

.minusBtn {
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #fff;
}